@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap");
html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.42;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  background: #fff;
}

* {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 960px;
  /*position: relative;*/
}

/*.wrapper__content {
  flex: 1;
}*/
.container {
  width: 940px;
  margin: 0 auto;
  z-index: 2;
}

/*.maincontent {
  background: #fff;
}*/
.overlay {
  position: relative;
}
.overlay:before {
  content: "";
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #2B2B2B;
  opacity: 0.4;
}

.hello {
  background: url(../img/bg/hello-bg.jpg) center center/cover no-repeat;
  /*background-blend-mode: multiply;*/
  color: #fff;
}

.hello__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding: 24px 0 70px 0;
}

.hello__main {
  min-height: 315px;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
  width: 46%;
}

.hello__main-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 17px;
}

.hello__main-desc {
  margin-bottom: 55px;
  font-size: 21px;
  line-height: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 30px;
}

.menu__item {
  margin-right: 22px;
}
.menu__item:last-child {
  margin-right: 0;
}

.contacts__phone {
  font-weight: bold;
  font-size: 22px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.contacts__icon-img {
  width: 12px;
  height: 13px;
  margin-right: 5px;
}

.features {
  display: flex;
  align-items: center;
}

.features__item {
  margin-right: 33px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 34px;
  margin-right: 14px;
  object-fit: contain;
}

.feature__desc {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  max-width: 90px;
}

.btn {
  color: black;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background: #FEDB3F;
  padding: 21px 41px;
  border-radius: 100px;
  border: none;
  transition: 0.3s;
}
.btn:hover {
  background: #FFD517;
}
.btn--col--transparent {
  background: transparent;
  color: #fff;
}
.btn--col--transparent:hover {
  background: transparent;
  color: #FEDB3F;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  color: #292929;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 32px;
  text-align: center;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 17px;
}

.headline__subtitle {
  padding: 0 27%;
  margin-bottom: 49px;
}

.headline__list {
  display: flex;
}

.headline__item {
  flex: 1;
  padding: 0 2%;
  position: relative;
}
.headline__item:before {
  content: url(../img/icon/separator.svg);
  position: absolute;
  top: 17%;
  right: 0;
  transform: translateX(50%);
}
.headline__item:first-child {
  padding-left: 0;
}
.headline__item:last-child {
  padding-right: 0;
}
.headline__item:last-child:before {
  display: none;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantages__icon-wrapper {
  display: inline-flex;
  width: 128px;
  height: 128px;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  /*position: relative;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.advantages__pic {
  width: 68px;
  height: 68px;
  object-fit: contain;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.advantages__title {
  color: #292929;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 20px;
}

.reviews__card {
  background: #F8FAF9;
  padding: 42px;
}

.reviews__card-inner {
  display: flex;
}

.reviews__avatar {
  width: 252px;
  height: 264px;
}

.reviews__icon {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  min-height: 264px;
  justify-content: center;
}

.reviews__subtitle {
  color: #292929;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 14px;
}

.reviews__desc {
  margin-bottom: 25px;
  margin-bottom: 25px;
  width: 85%;
}

.reviews__author {
  color: #292929;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid transparent;
}
.interactive-avatar--active {
  border-color: #FEDB3F;
}

.order-section {
  background: url(../img/bg/form-bg.jpg) top 25% center/cover no-repeat;
  color: #fff;
}

.order-section__title {
  text-transform: uppercase;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 28px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 12px;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  flex: 1;
  margin-right: 18px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 12px;
  border-radius: 4px;
  border: 3px solid transparent;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
.form__input--textarea {
  height: 152px;
  resize: none;
  margin-bottom: 24px;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
.form__controls--mb {
  margin-bottom: 46px;
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
  margin-right: 9px;
}
.radio:last-child {
  margin-bottom: 0;
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox .radio__visible:before {
  background: url(../img/icon/checkbox.svg) center center no-repeat;
  width: 10px;
  height: 10px;
}

.radio__elem .visually-hidden:focus ~ .radio_visible {
  background: purple;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  margin-right: 10px;
}
.radio__visible:before {
  content: "";
  width: 12px;
  height: 12px;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 7px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}