$containerWidth: 940px;
$baseFontSize: 18px;
$mainFontSize: 16px;

//breakpoints
$tablets: 768px;
$phone: 480px;
$smallPhone: 375px;

//colors
$yellow: #FEDB3F;
$grey:  #666666;
$black: #292929;

//z-indexes
$z-fixed-menu: 100;
$z-overlay: 2;
$z-fullscreen-menu: 120;

//media
@import "./media.scss";


//normalize
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap');
@import "layout";
@import "components/maincontent";
@import "components/_overlay.scss";
@import "components/_hello.scss";
@import "components/_header.scss";
@import "components/_menu.scss";
@import "components/_contacts.scss";
@import "components/_hamburger.scss";
@import "components/_features.scss";
@import "components/_feature.scss";
@import "components/_btn.scss";
@import "components/_section.scss";
@import "components/_headline.scss";
@import "components/_advantages.scss";
@import "components/_reviews.scss";
@import "components/_interactive-avatar.scss";
@import "components/order-section";
@import "components/_visually-hidden.scss";
@import "components/_form.scss";
@import "components/_radio.scss";
@import "components/_map.scss";
@import "components/_footer.scss";
@import "components/_socials.scss";
@import "components/_fixed-menu.scss";
@import "components/_market.scss";
@import "components/_boards.scss";
@import "components/_drop.scss";
@import "components/_fullscreen-menu.scss";
@import "components/_team.scss";
@import "components/_staff.scss";
@import "components/_bx.scss";
@import "components/_modal.scss";

.menu-section {
  position: relative;
  background: url(../img/menu/bg-menu.jpg) center center / cover no-repeat;
  flex-direction: row;
  justify-content: flex-end;
}
.menu-section__title {
  /*color: white;*/
  position: absolute;
  top: 12%;
  left: 10%;

  @include tablets {
    left: 5%;
  }
@include phone {
  font-size: rem(30px);
}
 
}
.menu-acco {
  display: flex;
  margin: 0;
/*  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;*/
  z-index: 1;
  justify-content: flex-end;
}
.menu-acco__item {
  display: flex;

  &.active {

    @include phone {
      flex-shrink: 0;
      order: 1;
      width: 100%;
    }
  


    .menu-acco__link-title {
      color: $yellow;
    }
    .menu-acco__content {
      width: rem(530px);
    }
  }
}
.menu-acco__link {
  background-image: url(../img/menu/bg-longboard.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: rem(102px);
  display: flex;
  justify-content: center;
  position: relative;

  &--bg--shortboard {
    background-image: url(../img/menu/bg-shortboard.jpg);
  }
  &--bg--softboard {
    background-image: url(../img/menu/bg-softboard.jpg);
  }
  }
.menu-acco__link-title {
  font-weight: bold;
  font-size: rem(48px);
  line-height: rem(58px);
  white-space: nowrap;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding-top: rem(40px);
}
.menu-acco__content {
  //height: 100%;
  overflow: hidden;
  background: #333537;
  opacity: 0.9;
  width: 0;
  position: relative;
}
.menu-acco__text {
  color: white;
  font-size: rem(16px);
  line-height: rem(24px);
  padding-top: rem(50px);
  padding-left: rem(38px);

  @include phone {
    padding-top: rem(90px);
    padding-right: rem(20px);
  }
}
.menu-acco__btn-img {
  width: rem(14px);
  height: rem(14px);
  position: absolute;
  top: 2%;
  right: 3%;
  fill: white;

  @include phone {
    top: 4%;
    right: 5%;
  }
}