$containerWidth: 940px;
$baseFontSize: 18px;
$mainFontSize: 16px;

//breakpoints
$tablets: 768px;
$phone: 480px;

//colors
$yellow: #FEDB3F;
$grey:  #666666;
$black: #292929;

//z-indexes
$z-fixed-menu: 100;
$z-overlay: 2;

//media
@import "./media.scss";


//normalize
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap');
@import "layout";
@import "components/maincontent";
@import "components/_overlay.scss";
@import "components/_hello.scss";
@import "components/_header.scss";
@import "components/_menu.scss";
@import "components/_contacts.scss";
@import "components/_hamburger.scss";
@import "components/_features.scss";
@import "components/_feature.scss";
@import "components/_btn.scss";
@import "components/_section.scss";
@import "components/_headline.scss";
@import "components/_advantages.scss";
@import "components/_reviews.scss";
@import "components/_interactive-avatar.scss";
@import "components/order-section";
@import "components/_visually-hidden.scss";
@import "components/_form.scss";
@import "components/_radio.scss";
@import "components/_map.scss";
@import "components/_footer.scss";
@import "components/_socials.scss";
@import "components/_fixed-menu.scss";