.feature {
  display: flex;
}

.feature__icon {
  width: rem(34px);
  height: rem(34px);
  margin-right: rem(14px);
  object-fit: contain;
  fill: #fff;
  }

  .feature__desc {
    font-weight: bold;
    font-size: rem(16px);
    line-height: rem(18px);
    max-width: rem(90px);
  }