.hello {
background: url(../img/bg/hello-bg.jpg) center center / cover no-repeat;
/*background-blend-mode: multiply;*/
color: #fff;

@include tablets {
  background-position: 75%;
}
@include phone {
  background: url(../img/bg/hello-bg.jpg) 70% / cover no-repeat;
}

}
.hello__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding: rem(24px) 0 rem(70px) 0;

}
.hello__main {
  min-height: rem(315px);
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
  width: 46%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.hello__main-title {
  font-weight: bold;
  font-size: rem(48px);
  line-height: rem(58px);
  margin-bottom: rem(17px);

  @include phone {
    font-size: rem(40px);
  }

}
.hello__main-desc {
  margin-bottom: rem(55px);
  font-size: rem(21px);
  line-height: rem(25px);
}

.hello__icons {
  @include tablets {
    display: none;
  }
}