.map {
  /*background: url(../img/bg/contact-bg.png) center center / cover no-repeat;*/
  position: relative;
  color: #292929;
  //height: 600px;
  width: 100%;

 /* &:before {
    content: url(../img/icon/all/point.svg);
    position: absolute;
    top: 49%;
    left: 58%;
  }*/
}
.map__block {
  height: 100%;
  
}