.overlay {
    position: relative;
  &:before {
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #2B2B2B;
    opacity: 0.4;
  }
}