.staff {
  text-align: center;
}
.staff__photo {
  margin-bottom: rem(22px);

  @include tablets {
    display: none;
  }
}
/*.staff__visible {
 display: flex;
 justify-content: center;
}*/

.staff_content {
 position: relative;
}
.staff__link  {

 &:after {
   content: "";
   display: inline-block;
   background-image: url(../img/icon/all/triangle.svg);
   background-repeat: no-repeat;
   width: rem(8px); 
   height: rem(6px);
   margin-left: rem(4px);
   /*transform: rotate(180deg);*/

   @include tablets {
     width: rem(11px);
     height: rem(10px);
   }


 }
}
.staff__title {
  font-size: rem(21px);
  font-weight: bold;
  color: black;
  margin-right: rem(4px);
  margin-bottom: rem(8px);
}
.staff__triangle {
  border: rem(9px) solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: black;

}
.staff__hidden {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;

  
  
  @include tablets {
   display: flex;
   flex-direction: column;
   align-items: center;
  }

}
.staff__hidden-img{
  display: none;

  @include tablets {
    display: block;
    width: rem(222px);
    height: rem(290px);
    margin-bottom: rem(20px);
  }
}
.staff__occupation {
  color: black;
  margin-bottom: rem(4px);
}
.is-active .staff__link:after {
  transform: rotate(180deg);

}