.boards__container {
  display: flex;

  @include tablets {
    flex-direction: column;
  }
}
.boards__img {
  width: 50%;
  margin-right: 3%;
  position: relative;

  background: url(../img/market/blue-dord.png) center center / contain no-repeat, url(../img/market/cloud.svg) center center / contain no-repeat;
    
 /* &::before {
    content: "";
    position: absolute;
    width: 396px;
    height: 378px;
    background: url(../img/market/cloud.svg) 50% 50% no-repeat;
    z-index: -3;
    top: 12%;
  }*/

  @include tablets {
    width: 100%;
    min-height: rem(345px);
    }
}
/*.boards__pic {
@include tablets{
  width: rem(150px);
  height: rem(535px);
  transform: rotate(30deg);
  position: absolute;
  top: 0%;
  left: 30%;
}
}*/
.boards__content {
  flex: 1;
  @include tablets {
    text-align: center;
  }
}


.boards__btn-image {
  width: rem(91px);
  height: rem(91px);
  
}

.boards__btn {
  margin-bottom: rem(52px);
  position: relative;
  display: inline-block;
  

  &:hover .boards__dropdown {
    opacity: 0.9;

  }

  @include tablets {
    display: none;
  }
}
 .boards__btn-link{
  display: block;

 }


.boards__dropdown {
   /* flex: 1;*/ 
    position: absolute;
    top: 0;
    left: 100%;
    min-width: rem(273px);
    opacity: 0;
    pointer-events: none;
    

    &:before {
      content: "";
      display: block;
      width: rem(100px);
      position: absolute;
      height: 40%;
      right: 100%;

    }
  }
.boards__list {
  padding: rem(33px) rem(30px);
  background: #ECECEC;
 /* max-width: 270px;*/
}
.boards__title-text {
  font-weight: bold;
  font-size: rem(36px);
  line-height: rem(43px);


}
.boards__title {
  margin-bottom: rem(24px);
  color: #151515;

  &-fs {
    font-size: rem(30px);
  } 


}
.boards__text {
  width: 91%;
  margin-bottom: rem(24px);

  @include smallPhone {
    width: 100%;
    font-size: rem(16px);
  }
}


.boards__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(24px);

  @include tablets {
    justify-content: center;
  }

  @include smallPhone {
    font-size: rem(16px);
  }

  &-black {
    color: #151515;
  }
}
/*.boards__details {
  max-width: 82%;
}*/
.boards__details-col {
  display: flex;
  flex-direction: column;
  margin-right: rem(40px);
  flex-wrap: nowrap;

  &:last-child {
    margin-right: 0;
  }
 

 /* &--flex {
    flex: 1;

    @include tablets {
      flex: 0;
      margin-right: 0;
      display: flex;
    }
  }*/
}

.boards__price {
  display: flex;
    justify-content: space-between;

    @include tablets {
      justify-content: center;
      align-items: center;
      margin-bottom: rem(24px);
    }

    &-cost {
      font-size: rem(60px);
      line-height: rem(60px);
      color: #151515;
      margin-right: rem(40px);

      @include phone {
        font-size: rem(40px);
      }
    }
}
