.feature {
  display: flex;
}

.feature__icon {
  width: 34px;
  margin-right: 14px;
  }

  .feature__desc {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    max-width: 90px;
  }