.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 13%;
  }

  @include phone {
    padding: 0;
  }
}
.form__col {
  flex: 1;
  margin-right: rem(28px);

  @include tablets {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
.form__row {
  display: flex;
  margin-bottom: rem(12px);

  &:last-child {
    margin-bottom: 0;

    @include phone {
      margin-bottom: rem(6px);
    }
  }

  @include phone {
    margin-bottom: rem(10px);
  }
}

.form__block {
  flex: 1;
  margin-right: rem(18px);

  &:last-child {
    margin-right: 0;
  }
}
/*.form__title {
  @include smallPhone {
    font-size: rem(18px);
  }
}*/

.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(12px);
  border-radius: rem(4px);
  border: rem(3px) solid transparent;

  &:focus {
    border-color: $yellow;
    outline: none;
  }

  &--textarea {
    height: rem(152px);
    resize: none;
    margin-bottom: rem(24px);
  }

  @include phone {
    padding: rem(8px) rem(4px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;

  @include phone {
    justify-content: center;
  }

  &--mb {
    margin-bottom: rem(46px);

    @include phone {
      margin-bottom: rem(36px);
    }

    @include smallPhone {
      margin-bottom: rem(26px);
    }

  }

}

.forms__btns {
  @include tablets {
    display: flex;
    justify-content: center;
  }

  @include phone {
    margin-bottom: rem(81px);
  }

  @include smallPhone {
    margin-bottom: rem(30px);
  }
}
.form__input.input-error {
  border-color: red;

}