.fullscreen-menu {
  background: #292929;
  position: relative;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: $z-fullscreen-menu;

}

.fullscreen-menu__close{
  position: absolute;
  top: 4%;
  right: 4%;


}
.fullscreen-menu__img {
  width: rem(20px);
  height: rem(20px);
  fill: white;
}