.map {
  background: url(../img/bg/contact-bg.png) center center / cover no-repeat;
  position: relative;
  color: #292929;
  min-height: rem(260px);

  &:before {
    content: url(../img/icon/point.svg);
    position: absolute;
    top: 49%;
    left: 58%;
  }
}
