.menu {
  margin: 0 rem(30px);

  @include tablets {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: rem(30px);
  flex-wrap: wrap;
  justify-content: center;
}
.menu__item {
  margin-right: rem(22px);


  &:last-child {
    margin-right: 0;

   }
}
.menu__link {
  transition: 0.3s;
  &:hover {
    color: $yellow;

  }
}