.order-section {
  background: url(../img/bg/form-bg.jpg) top 25% center / cover no-repeat, #2B2B2B; 
  /*background-size: 100% 100%;*/
  background-blend-mode: multiply;
  color: #fff;
}

.order-section__title {
  text-transform: uppercase;
  color: #fff;

}