.team__title {
  margin-bottom: rem(52px);
}
.team__list {
  display: flex;

  @include tablets {
    flex-direction: column;

  }
 
 }
 .team__item {
   margin-right: rem(20px);

   @include tablets {
    margin-bottom: rem(16px);
   }
 }